.whole-container{
    margin-top: 12rem;
    display: flex;
    justify-content: left;
}

.image{
    padding: 20px;
    background: #C3B27F28;
}

.description{
    margin-left: 1rem;
}

.text{
    color: #000;
    font-weight: 330;
}